# Media & uploads
uploads/

# Cache files
cache/
upgrade/

# Node
node_modules/

# OS/IDE
.DS_Store
*.log
cache/autoptimize/.htaccess
cache/autoptimize/index.html
cache/autoptimize/css/autoptimize_single_0c14b860dad6b7975be0ee2967e6a0f5.css
cache/autoptimize/css/autoptimize_single_0e63544f0f02f6d9cf9e4691369946d6.css
cache/autoptimize/css/autoptimize_single_2f90364edcb60044b1fd9532a4a985b0.css
cache/autoptimize/css/autoptimize_single_4e90b697e1683d83d708a659ea4424dd.css
cache/autoptimize/css/autoptimize_single_9b1a5ec9e1e0ccfc5e1586370c651647.css
cache/autoptimize/css/autoptimize_single_9fadd1c1318717b570f88180b0551dc3.css
cache/autoptimize/css/autoptimize_single_10cc9d1711a37f6d0bcd8b6f350bc1c6.css
cache/autoptimize/css/autoptimize_single_48ddb02649ea409325960be9eb4acee4.css
cache/autoptimize/css/autoptimize_single_59d266c0ea580aae1113acb3761f7ad5.css
cache/autoptimize/css/autoptimize_single_61e206ae23acc078962c080f8ce46763.css
cache/autoptimize/css/autoptimize_single_269a25e36685ed62df8264049036ed1c.css
cache/autoptimize/css/autoptimize_single_374b425b3a0b5cce8fd13eb4d24989f8.css
cache/autoptimize/css/autoptimize_single_549fc2a5d8e380a1180a79efd5af0dd0.css
cache/autoptimize/css/autoptimize_single_6701f9658099f857e246a03dda6d716a.css
cache/autoptimize/css/autoptimize_single_a639ed742f30a8f617b4eeffca9db4b8.css
cache/autoptimize/css/autoptimize_single_a77852287bc94b28840f2b612a90a7ab.css
cache/autoptimize/css/autoptimize_single_b0c7a946011b094fc3209441d0613034.css
cache/autoptimize/css/autoptimize_single_c2204122cc1253b24e01bd986c0e9658.css
cache/autoptimize/css/autoptimize_single_caf24fc80c55773228a1dd5f13252cec.css
cache/autoptimize/css/autoptimize_single_ce1986f89cff6f9cd0125a0a5110fdf7.css
cache/autoptimize/css/autoptimize_single_d1b407ad78d7f34229f19c11b41d0c6b.css
cache/autoptimize/css/autoptimize_single_d907bb498461c09b991a03916efb0efa.css
cache/autoptimize/css/autoptimize_single_db40cb728f8c30fd869241d17ef8df37.css
cache/autoptimize/css/autoptimize_single_e2d671c403c7e2bd09b3b298c748d0db.css
cache/autoptimize/css/autoptimize_single_e8fddba32ba2c7239aa90e78c77fea91.css
cache/autoptimize/css/autoptimize_single_e98f5279cacaef826050eb2595082e77.css
cache/autoptimize/css/autoptimize_single_fca867690dd857e4475f31fd0184171c.css
cache/autoptimize/css/index.html
cache/autoptimize/js/autoptimize_6ad22be4995ff34ffc2900a136cc5768.js
cache/autoptimize/js/autoptimize_34c060ab70f661a30bfd3f43665dc60f.js
cache/autoptimize/js/autoptimize_bed08b1537a809029cdac6103e974daa.js
cache/autoptimize/js/autoptimize_bfe47a5b43db9d272312908f700f74b2.js
cache/autoptimize/js/autoptimize_d156b2e0182bb05ff54dd9c94dbbfe0c.js
cache/autoptimize/js/autoptimize_e60a3c66b893dd9cd9d88f16e42cb5b5.js
cache/autoptimize/js/autoptimize_ecb52a437d934bbcad4306627824aa11.js
cache/autoptimize/js/autoptimize_fallback.js
cache/autoptimize/js/autoptimize_snippet_0e7d35e2b78d45916896e8150cd22978.js
cache/autoptimize/js/autoptimize_snippet_1a3d84a1a14b27c72bd8af376579a537.js
cache/autoptimize/js/autoptimize_snippet_1a891f65fb1354a734e61f6f459a5437.js
cache/autoptimize/js/autoptimize_snippet_5bb87aaa15824292d60c23d02b5fa060.js
cache/autoptimize/js/autoptimize_snippet_5e73cf8fe95927240882db592f1a2dc9.js
cache/autoptimize/js/autoptimize_snippet_6eed66d1da7ddd560e27174ae8378f6f.js
cache/autoptimize/js/autoptimize_snippet_6f625e5a5fbb35a99d5fa3bc897962d4.js
cache/autoptimize/js/autoptimize_snippet_7ce2e16fcd6b02095f98bffb40d3ec78.js
cache/autoptimize/js/autoptimize_snippet_7ecf3fb476b45ef30c134f4e223e0dae.js
cache/autoptimize/js/autoptimize_snippet_8b7197f7dad8bad7675b2f63ba6d0268.js
cache/autoptimize/js/autoptimize_snippet_12aee72357ceb9136ff49507e8d4d6a6.js
cache/autoptimize/js/autoptimize_snippet_24cc70ee1f4b6c28492c4012d606e47e.js
cache/autoptimize/js/autoptimize_snippet_37a5524e9459e36c80cf07287e52574a.js
cache/autoptimize/js/autoptimize_snippet_73a96cc038336d79e9cf88ab4998fa51.js
cache/autoptimize/js/autoptimize_snippet_506c6463d1da01bcbb4902c79a3f089d.js
cache/autoptimize/js/autoptimize_snippet_647f065d638871b33bf136efc47fc5a1.js
cache/autoptimize/js/autoptimize_snippet_691a1e43450e7cda541a3bd6f10fd5db.js
cache/autoptimize/js/autoptimize_snippet_7422c12a1c0c3e35460118425646ca54.js
cache/autoptimize/js/autoptimize_snippet_a66bcbff29a800d52fe728f705222ac1.js
cache/autoptimize/js/autoptimize_snippet_aa13859477250a803068ecd34c2dcd1f.js
cache/autoptimize/js/autoptimize_snippet_abf4bb282c65836335fa88b6a680fb5c.js
cache/autoptimize/js/autoptimize_snippet_c972a70f70fa36f16b036f40189eb0bd.js
cache/autoptimize/js/autoptimize_snippet_cff3cff580de680125b4c86b7635fce6.js
cache/autoptimize/js/autoptimize_snippet_d6843fa9b6dfd1cae807f2c375830d09.js
cache/autoptimize/js/autoptimize_snippet_dd28a732ef4fad44f5d829caea6914d0.js
cache/autoptimize/js/autoptimize_snippet_edb61594e88135ebc10785b3e90d8b6f.js
cache/autoptimize/js/autoptimize_snippet_ef56117d1bb5cc41aa6bd127a49c7640.js
cache/autoptimize/js/autoptimize_snippet_f4fa93f0da53c6c03a8627cfac4fc3bc.js
cache/autoptimize/js/autoptimize_snippet_f7c765da805a0df55e130f78e33e8a72.js
cache/autoptimize/js/index.html
csv-imports/import-2025-07-24-18-33-15-sql-1.csv
csv-imports/import-2025-07-24-18-36-56-sql-1.csv
csv-imports/import-2025-07-24-18-38-22-sql-1.csv
csv-imports/import-2025-07-24-18-41-32-sql_cleaned_no_duplicates.csv
csv-imports/import-2025-07-24-18-42-10-sql_cleaned_no_duplicates.csv
csv-imports/import-2025-07-24-18-58-51-sql_cleaned_updated_urls.csv
csv-imports/import-2025-07-24-19-05-48-sql_cleaned_updated_urls.csv
csv-imports/import-2025-07-24-19-28-57-sql_cleaned_updated_urls.csv
csv-imports/import-2025-07-24-19-42-50-sql_cleaned_updated_urls.csv
csv-imports/import-2025-07-24-19-52-45-sql_with_corrected_attachment_urls.csv
csv-imports/import-2025-07-24-19-58-16-sql_urls_standardized_to_honest_number.csv
db-error.php
autoptimize_404_handler.php
